<div >
  <img  src="/girlchildsave.jpeg" alt="broken image">
</div>
<h1>Edit your profile</h1>

<form method ="POST">
  First name:<br>
  <input  type="text" name="first" value={{first}}><br>
  Last name:<br>
  <input type="text" name="last" value={{last}}><br>
  <input name="_csrf" value="{{csrfToken}}" type="hidden">
  Email Address:<br>
  <input type="text" name="email" value={{email}}><br>
  Password:<br>
  <input type="password" name="password" value={{password}}><br>
  Age:<br>
  <input type="INT" name="age" value={{age}}><br>
  City:<br>
  <input type="text" name="city"value={{city}}><br>
  Homepage:<br>
  <input type="url" name="url" url="url"value={{url}}><br>
  <button type="submit">UPDATE</button>
</form>
