<header>
    <img  src="/girlchildsave.jpeg" alt="broken image">
    <h1> List of people who have signed the petition so far...</h1>
    <a class="sigLogout" href="/logout">Logout</a>
    <a  class="editprofile"href="/profile/editprofile">Edit Profile</a>
</header>
    <ul>
    <div class ="list">
      {{#data}}
        <li>
        {{~#if url~}}
            <a href="{{url}}">{{first}}  {{last}}</a>,
        {{~else~}}
            {{first}} {{last}}
        {{~/if}}
        {{~#if age~}}
            -{{age}}-
        {{~/if}}
        {{~#if city~}}
            <a href="/signers/{{city}}">--{{city}}</a>
        {{~/if}}
    </li>
      {{/data}}
  </ul>

    </div>
</div>
