<header>
    <img  src="/girlchildsave.jpeg" alt="broken image">
    <h1> List of people who have signed the petition so far...</h1>
    <a href="/logout">LOG OUT</a>
    <a href="/profile/editprofile">Edit Profile</a>
</header>

    <div class ="list">
      {{#data}}
        <!-- <p>{{first}}, {{last}}</p> -->

        {{#if url}}
            <a href="{{url}}">{{first}} {{last}}</a> - {{age}} - <a href="/signers/{{city}}">{{city}}</a>
        {{else}}
            {{first}} {{last}} - {{age}} - <a href ="/signers/{{city}}">{{city}}</a>
        {{/if}}

      {{/data}}
    </div>
</div>
